BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
Flask==0.12.2
Flask-Cors==3.0.2
Jinja2==2.9.5
numpy==1.12.1
pandas==0.19.2
pandas-datareader==0.3.0.post0
requests==2.13.0
requests-file==1.4.1
requests-ftp==0.3.1
